@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-body-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

section {
    margin: 0 auto;
    margin-top: 100px;
}

/*^ SHARED CSS */
.displayflex {
    display: flex;
}

.orange {
    color: #E6533C;
}

.light-gray {
    color: #ffffff71;
}

.section-title {
    font-size: 3rem;
    font-weight: 800;
}

#pri-button {
    background-color: #E6533C;
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
    font-weight: 700;
    font-size: 1.12rem;
    border: none;
}

#sec-button {
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
    font-weight: 700;
}

#thr-button {
    background-color: black;
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
    font-weight: 700;
    font-size: 1.12rem;
    border: 1px solid white;
}


/* * NAVBAR */
.navbar {
    max-width: 80%;
    margin: 30px auto;
    margin-bottom: 0;

    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 900;
}

.navbar-options {
    gap: 50px;
    border: 1px solid #ffffff4a;
    border-radius: 39px;
    /* padding: 12px 24px; */
    padding-right: 24px;
    align-items: center;
}

.option {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;

}

/* * BANNER */
.banner {
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.banner-welcome {
    max-width: 40%;
}

.banner-title {
    font-size: 4.87rem;
    /* padding-right: 100px; */
}

#unique-title {
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5.6rem;
    line-height: 0.8;
}

.banner-para {
    padding-right: 50px;
    margin-bottom: 28px;
}

.banner-button {
    gap: 24px;
}

/* * HABIT PAGE */
.habit {
    max-width: 80%;
    flex-direction: column;
    gap: 58px;
    text-align: center;
}

.habit-about {
    flex-direction: column;
    gap: 15px;
    max-width: 65%;
    margin: 0 auto;
}

.habit-title {
    margin: 0;
}

.habit-blocks {
    gap: 40px;
    justify-content: center;
}

.block {
    max-width: 230px;
}

.block-title {
    font-size: 1.12rem;
    margin-bottom: 0;
}

.block-para {
    font-size: 0.87rem;
}

.block img {
    border-radius: 50%;
}

/* * RUN */
.run {
    max-width: 58%;
    background-color: #222222;
    border-radius: 18px;
    justify-content: space-between;
    padding: 30px 32px 30px 54px;
    align-items: center;
}

.run-about {
    max-width: 443px;
}

.run-title {
    margin: 0;
}

.run-img {
    background-image: url(images/run.jpg);
    background-size: cover;
    background-position: center;
    width: 366px;
    height: 312px;
    border-radius: 18px;
}

#run-button {
    background-color: #E6533C;
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
    font-weight: 700;
    font-size: 1.12rem;
    border: none;
    width: 220px;
}

/* ! RESPONSIVE FOR MOBILE DEVICE */
@media screen and (max-width:576px) {

    /* ^ BANNER */
    .hero {
        padding: 0px 20px;
    }

    .option {
        display: none;
    }

    .banner {
        flex-direction: column;
        margin: 0;
        max-width: 100%;
    }

    .banner-welcome,
    .banner-button,
    .banner-img img {
        max-width: 100%;
    }

    .banner-about {
        padding-right: 80px;
    }

    .banner-title {
        font-size: 2.2rem;
    }

    .remove-text {
        display: none;
    }

    #pri-button {
        max-width: 40%;
        padding: 16px 30px;
    }

    #thr-button {
        max-width: 60%;
    }

    /* ^ HABIT */
    .habit-blocks {
        flex-direction: column;
        align-items: center;
    }

    .habit-about {
        margin: 0;
        max-width: 100%;
    }

    .habit-title {
        font-size: 2.3rem;
    }

    /* ^ RUN */
    .run {
        flex-direction: column;
        padding: 30px 33px;
        gap: 30px;
        max-width: 325px;
    }
    .run-title{
        font-size: 2rem;
    }
    .run-img{
        width: 325px;
        height: 170px;
    }
    #run-button {
        width: 325px;
    }
}